<div class="category">
<h2><%= @category.name %> Produkte</h2>
</div>
<main>
<% @product.where(category_id: @category.id).each do |product| %>
  <div class="product">
    <a href="<%= product_path(product) %>"><%= image_tag product.picture.url if product.picture? %></a>
    <div class="product-name"><%= product.name %></div>
    <div class="product-price"><%= product.price %>€</div>
    <div class="product-messaging">
      <a href="<%= build_whatsapp_link("Ich möchte folgendes Produkt erwerben", product_path(product)) %>" class="btn-primary">WhatsApp</a>
    </div>
  </div>
<% end %>
</main>
