<div class="form-style">
  <%= form_for(@product) do |f|%>
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

    <%= f.label :category %>
    <%= f.select(:category_id, options_for_select(@categories || Category.all.map { |c| [ c.name, c.id ] }), :prompt => "Wähle eine!") %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name des Produkts" %>

    <%= f.label :price %>
    <%= f.text_field :price, placeholder: "Runder Preis" %>

    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, placeholder: "Beschreibungstext" %>

    <%= f.submit "Abspeichern" %>
  <% end %>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
