<div class="form-style">
  <%= form_for(@product) do |f|%>
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    <% if f.object.picture? %>
      <%= image_tag f.object.picture.url %>
    <% end %>

    <%= f.label :category %>
    <%= f.select(:category_id, options_for_select(@categories || Category.all.map { |c| [ c.name, c.id ] }), :prompt => "Wähle eine!") %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name des Produkts" %>

    <%= f.label :price %>
    <%= f.text_field :price, placeholder: "Runder Preis" %>

    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, placeholder: "Beschreibungstext" %>

    <%= f.submit "Abspeichern" %>
  <% end %>
</div>
