<div class="category">
<h2>Alle Produkte</h2>
</div>
<main>
<% @product.each do |product| %>
  <div class="product <%= product.id %>">
    <a href="<%= product_path(product) %>"><%= image_tag product.picture.url if product.picture? %></a>
    <h2><%= product.name %></h2>
    <div class="price"><%= product.price %>€</div>
    <p class="messaging">
      <a href="">via WhatsApp bestellen</a>
    </p>
  </div>
<% end %>
</main>
