<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Wachs", category_path(1) %>
  <%= link_to "Accessoires", category_path(2) %>
  <% if logged_in? %>
    Hi, <%= current_user.username %>
    <%= link_to "Log out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %>
</nav>
<header>
  <h1>Ausverkauf</h1>
</header>
<% if logged_in? %>
  <div class="adm-new"><%= link_to "Neues Produkt", new_product_path, class: "btn-success" %></div>
<% end %>
